.tic-tac-toe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.game-board-container {
    background-color: lightgray;
    width: 300px;
    height: 300px;
    margin-bottom: 25px;


    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}


.game-start-button {
    grid-row: 2;
    grid-column: 2;
}
.game-results {
    height: 1rem;
}


.player-container {
    display: flex;
    gap: 150px
}


.grid-cell {
    font-size: 4rem;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;


    justify-content: center;
    align-items: center;
}

.no-input {
    pointer-events: none;
}